<body class="<%= @about_page ? 'aboutpage' : ''%>">
<div class="container">
  <h1>This is the about page of our application</h1>
  <p>The Ip Device Blog is a web application used for keeping track of the user's devices and their corresponding ipaddresses.
     The user has to signup for creating an account and get his/her account activated and then they can start creating
     their own devices and assign ip addresses to those devices. Once the devices have been assigned the addresses,
     they can view or delete their individual devices as per their convenience.</p>

  <%= link_to 'Home', root_path, :id => "btn" %>
</div>
</body>
