<h1>Welcome to Device IP  Blog</h1>
<section class="text-center jumbotron">
  <div class="container">
    <div class="row">
      <h1 class="display-3"><strong>DEVICE BLOG</strong></h1>
      <%= link_to 'Sign Up', account_signup_path, class: "btn btn-primary btn-lg gradient" %>
      <%= link_to 'Login', devices_path, class: "btn btn-primary btn-lg gradient" %>
      <%= link_to 'About', about_path, class: "btn btn-primary btn-lg gradient" %>
      </p>
    </div>
  </div>
</section>
