<div class="container">
  <footer class="footer">
      <small>
          Copyright &copy; <a href ="https://deviceip-blog.herokuapp.com/">The Device Ip blog</a>
          by Sharath Chandra & Nischal
      </small>
      <!--<nav>-->
          <!--<ul>-->
              <!--<li><%#= link_to "About", about_path %></li>-->
          <!--</ul>-->
      <!--</nav>-->
  </footer>
</div>