<h1>
  <div class = "login">
    <p id="notice">
      A Reset link has been sent to your email <%= user %>.
        Please click on it to finish resetting your password. Thank you.</p>
  </div>
</h1>

